VITE_API_BASE_URL=http://localhost:8081
VITE_LOGGER_ENDPOINT=http://localhost:5001
VITE_LOGGER_APPLICATION=dashboard-frontend
VITE_GRAFANA_DASHBOARDS_URL=http://localhost:3000/dashboards
VITE_KIBANA_OVERVIEW_URL=http://localhost:5601/app/kibana_overview#/
VITE_I18N_LOCALE=auto
VITE_I18N_FALLBACK_LOCALE=en-US
